@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');

html,
body {
  background-color: #343d52;
  padding: 0;
  margin: 0;
  font-family: 'Strait', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a strong {
  color: orangered;
}

* {
  box-sizing: border-box;
}

img {
  border-radius: 5px;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #fff;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.title strong {
  color: orangered;
}

.gridContainer {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin-top: 2rem;
}

@media (max-width: 800px) {
  .gridContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
  }
}

.preview .desc {
  opacity: 0;
  width: 0;
  height: 0;
}

.preview .desc:hover {
  position: absolute;
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 510px;
  background-color: orangered;
  color: #fff;
  z-index: 100;
  padding: 20px;
  border-radius: 5px;
  line-height: 1.5;
  transition: 0.4s ease-in-out;
}

.fade {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.searchInput {
  background-color: #000;
  font-family: inherit;
  color: #fff;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 16px;
  border-radius: 5px;
}

.searchInput:focus {
  outline: none;
}

.btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  transition-duration: 0.4s;
  width: calc((100vw - 610px) / 2);
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.btn:hover {
  background-color: orangered;
  color: #fff;
}

.btn:disabled {
  opacity: 0.5;
  background-color: #fff;
  color: #000;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.homeButton {
  text-align: center;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imageContainer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: ' ';
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff
    transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(
      0.55,
      0.055,
      0.675,
      0.19
    );
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(
      0.215,
      0.61,
      0.355,
      1
    );
  }
  100% {
    transform: rotate(1800deg);
  }
}
